body {
    background-color: #171717;
    color: white;
}

h1 {margin-top: 60px;
    color: white;
    text-align: center;
    font-family: Comic, cursive;
}

h2 {
    color: white;
    font-family: Comic, cursive;
}

p {
    font-family: Comic, Comic, cursive;
    font-size: 20px;
}

body {margin:0;}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
font:18px Comic Sans, Comic Sans MS, cursive;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #d10000;
    color: black;
}